@font-face{
	font-family:yofont;
	src:url("/football-app/images/iconfont/iconfont.woff") format("woff"),url("/football-app/images/iconfont/iconfont.ttf") format("truetype")
}

@font-face{
	font-family:yofont;
	src:url("/football-app/images/iconfont/iconfont-menu.woff") format("woff"),url("/football-app/images/iconfont/iconfont-menu.ttf") format("truetype")
}